body {
	background-image: linear-gradient(#80ccff, #8080ff);
	background-repeat: no-repeat;
	height: 100vh;
}

.div-img-preview{
	padding: 10px;
	max-height: 300px!important;
	max-width: : 300px!important;
	margin: 5px;
}

.padding-raw{
	padding: 0px;
}

.mainPage{
	margin-left: 5%;
	margin-right: 5%;
}

.miniPost{	
	paddin:0px;
}

.space-btw{
	margin:5px;
}

.miniPost > .card-body> .row>div> img{
	border-radius: 5px;
	width:128px;
	height:128px;
}

.miniPost > div>  .card-body> .row>div> img{
	border-radius: 5px;
	width:128px;
	height:128px;
}

.box {
	height: 4.5em;
	overflow: hidden;
}

/* necessary plugin styles */
.ellip {
	display: block;
	height: 100%;
}

.ellip-line {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

.ellip,
.ellip-line {
	position: relative;
	overflow: hidden;
	max-width: 100%;
}
a.btn-tool:hover{
	background-color: #7070db;
	color: #ffffff;
}

